    <h2>Course details</h2>
    <p><%= course.course_name %></p>
    <p><img src="<%= course.image_url %>" alt=""></p>
    <p><%= course.blurb %></p>
    <p><%= course.curriculum %></p>
    <p><%= course.skills_covered %></p>