<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img{
        width: 200px;
    }
</style>
<body>
    <h2>Course details</h2>
    <p><%= course.course_name %></p>
    <p><img src="<%= course.image_url %>" alt=""></p>
    <p><%= course.blurb %></p>
    <p><%= course.curriculum %></p>
    <p><%= course.skills_covered %></p>

</body>
</html>