    <h2>Course details</h2>
    <p><%= course.course_name %></p>
    <p><img src="<%= course.image_url %>" alt=""></p>
    <p><%= course.blurb %></p>
    <p><%= course.curriculum %></p>
    <p><%= course.skills_covered %></p>
    <% if(isLoggedIn()){ %>
        <form action="/users/<%= record.course_id %>" method="post">
            <input type="hidden" name="user_id" value="<%= currentUser.user_id %>">
            <button>Add Course</button>
        </form>
    <% } %> 